<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thesis.megahjaya">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Penjualan.PenjualanActivity" />
        <activity android:name=".Gudang.GudangActivity" />
        <activity
            android:name=".Gudang.Detail.DetailInventoryActivity"
            android:parentActivityName=".Gudang.GudangActivity" />
        <activity android:name=".Penjualan.ScanActivity" />
        <activity
            android:name=".Gudang.AddNewMaterial.AddNewMaterialActivity"
            android:parentActivityName=".Gudang.GudangActivity" />
        <activity android:name=".Histori_Penjualan.HistoriPenjualanActivity" />
        <activity android:name=".Penjualan.PenjualanSearchActivity" />
        <activity android:name=".Gudang.AddNewMaterial.SuccessAddNewActivity" />
        <activity
            android:name=".Penjualan.PenjualanInfoActivity"
            android:parentActivityName=".Penjualan.PenjualanActivity" />
        <activity android:name=".NavigationMenuActivity" />
        <activity android:name=".Penjualan.Search.SearchActivity" />
        <activity android:name=".Penjualan.PenjualanSuccessActivity" />
        <activity
            android:name=".Gudang.Update.UpdateActivity"
            android:parentActivityName=".Gudang.Detail.DetailInventoryActivity" />
        <activity android:name=".Histori_Penjualan.Detail.DetailHistoriPenjualanActivity"></activity>
    </application>

</manifest>